/* 
 * Parameters
 */
params {
    // read_input
    samplesheet = null
    db = "${projectDir}/assets/ref.fa"

    // reference_prep
	ref_min_depth = 3
    ref_min_cov   = 30
}

/*
 * Process Directives
 */
process {

	// TWIST 

	withLabel: 'twist' {
		container = 'community.wave.seqera.io/library/bwa_fgbio_picard_samtools:622c92259399057a'
	}

	// REVICA

	withName: 'REFERENCE_PREP:BWA_MEM_ALIGN_DB' {
        ext.args = 'local=true maxindel=80 ambiguous=all'
        publishDir = [
            path: { "results/revica/align_to_db/pass" }, 
            mode: 'copy',
            pattern: "*covstats.tsv",
        ]
	}

	withName: 'REFERENCE_PREP:SELECT_REFERENCE' {
		ext.args = { "-m ${params.ref_min_depth} -p ${params.ref_min_cov}" }
		publishDir = [
			path: { "results/revica/align_to_db/fail" },
			mode: 'copy',
			pattern: "*_failed_assembly.tsv"
		]
	}

	withName: 'REFERENCE_PREP:MAKE_REFERENCE_FASTA' {
		ext.prefix = { "${meta.id}_${ref_info.acc}" }
		publishDir = [
			path: { "results/revica/make_reference_fasta" },
			mode: 'copy',
		    pattern: "*.fa"
        ]
	}
}

docker.enabled = true