/* 
 * Parameters
 */
params {
    input	      = null
	output		  = null
	db 			  = "${projectDir}/assets/database/bkv_multi.fa"
	ref 		  = null
	labName 	  = null

	sampleTo	  = 1000000

	// Minimum number of mapped reads for downstream processes
	min_mapped_reads = 1000

	ivar_variants_t = 0.01
	ivar_variants_q = 20
	ivar_variants_m = 10
	save_mpileup = false

	// set by profile
	cloud_compute = false
}

/*
 * Process Directives
 */
process {
	withLabel: 'twist' {
		container = 'community.wave.seqera.io/library/bwa_fgbio_picard_samtools_seqtk:02c14c4891e4715e'
	}
	stageInMode = 'copy'

	errorStrategy = 'retry'
	maxRetries = 2
}

/*
 * Output Settings
 */
outputDir = params.output

/*
 * Container Settings
 */
docker {
	enabled = true
}

/*
 * Additional Configuration
 */
includeConfig "${projectDir}/conf/profiles.config"
includeConfig "${projectDir}/conf/refvar.config"
includeConfig "${projectDir}/conf/revica.config"