/* 
 * Parameters
 */
params {
    // read_input
    samplesheet = null
    db = "${projectDir}/assets/ref.fa"

    // reference_prep
	ref_min_depth = 3
    ref_min_cov   = 30
}

/*
 * Process Directives
 */
process {
	withName: 'REFERENCE_PREP:SELECT_REFERENCE' {
		ext.args = { "-m ${params.ref_min_depth} -p ${params.ref_min_cov}" }
	}

	withName: 'REFERENCE_PREP:MAKE_REFERENCE_FASTA' {
		ext.prefix = { "${meta.id}_${ref_info.acc}_${ref_info.tag}" }
	}
}

docker.enabled = true