// batch.config

params {
    awsRegion = 'us-west-2'
    cpuQueue  = "lab-${params.labName}-cpu"
    gpuQueue  = "lab-${params.labName}-gpu"
    logGroup  = "/batch/lab/${params.labName}"
    s3Bucket  = 'dlmp-research'
    workDir   = "s3://${params.s3Bucket}/labs/${params.labName}/nextflow"
}

process {
    containerOptions = '--network host --gpus all'
    executor = 'awsbatch'
    queue = { task.accelerator ? params.gpuQueue : params.cpuQueue }
    resourceLabels = {
        def tags = [:]
        tags['Department']        = params.labName
        tags['NextflowRunName']   = workflow.runName.toString()
        tags['NextflowSessionId'] = workflow.sessionId.toString()
        tags['PipelineName']      = workflow.manifest.name.toString()
        tags['PipelineVersion']   = workflow.manifest.version.toString()
        return tags
    }
}

aws {
    batch {
        cliPath   = '/opt/aws-cli/bin/aws'
        logsGroup = params.logGroup
        volumes   = [
            "/mnt/instance_storage/tmp:/tmp:rw",
            '/mnt/s3:/mnt/s3:ro',
        ]
    }
    region = params.awsRegion
}

workDir = params.workDir
