/*
 * Execution Profiles
 */
profiles {

	// local development configuration
    toaster {
        process {
			executor = 'local'

			errorStrategy = 'retry'
			maxRetries = 2
			
			resourceLimits = [
				memory: 8.GB,
				cpus: 6,
				time: 2.h
			]
		}
    }

	// awsbatch configuration intended for use by University of Washington DLMP, 
	// though resource limits can be set per hpc specs for use by others.
    awsbatch {
		params {
			cloud_compute = true
		}
		process {
			executor = 'awsbatch'

			errorStrategy = 'retry'
			maxRetries = 2

			resourceLimits = [
				memory: 64.GB,
				cpus: 32,
				time: 2.d
        	]

			withLabel:process_single {
                cpus   = 1
                memory = { 2.GB * task.attempt }
                time   = 1.h
            }
            withLabel:process_low {
                cpus   = 2
                memory = { 4.GB * task.attempt }
                time   = 2.h
            }
            withLabel:process_medium {
                cpus   = 4
                memory = { 6.GB * task.attempt }
                time   = 3.h
            }
            withLabel:process_high {
                cpus   = 8
                memory = { 8.GB * task.attempt }
                time   = 4.h
            }
		}

		report {
			overwrite = true
		}
    }
}
