/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

// Reference Alignment
process {
    withName: 'BWA_ALIGN_REF' {
		ext.args = 'local=true ambiguous=random'
		ext.prefix = { "${meta.id}_ref" }
        publishDir = [ 
			path: { "${params.output}/bbmap_align/ref" },
			mode: 'copy',
			pattern: "*.{bam,bai}"
		]
    }
}

// Variant Calling
process {

    withName: PICARD_ADDORREPLACEREADGROUPS {
        ext.args = { "--SORT_ORDER coordinate --RGID foo --RGLB bar --RGPL illumina --RGPU unit1 --RGSM ${meta.id} --CREATE_INDEX true" }
        ext.prefix = { "${meta.id}_rg" }        
        publishDir = [
            path: { "${params.output}/addorreplacereadgroups" },
            mode: 'copy',
            pattern: "*{rg.bam}"
        ]        
    }    

    withName: 'GATK_REALIGNERTARGETCREATOR' {
        publishDir = [ 
			[
				path: { "${params.output}/indelintervals" },
				mode: 'copy',
				pattern: "*.intervals"
			]
		]
    }

	withName: 'GATK_INDELREALIGNER' {
		ext.args = { "-maxReads 500000" }
        publishDir = [ 
			[
				path: { "${params.output}/indelrealigned" },
				mode: 'copy',
				pattern: "*.{bam,bai}"
			]
		]
    }	

    withName: 'CDS_VARIANTS' {
		ext.args = { "-t ${params.ivar_variants_t} -q ${params.ivar_variants_q} -m ${params.ivar_variants_m} -G" }
		ext.args2 = '--ignore-overlaps --count-orphans --no-BAQ --max-depth 0 --min-BQ 20'
        publishDir = [ 
			[
				path: { "${params.output}/CDS_variants" },
				mode: 'copy',
				pattern: "*.tsv"
			],
			[
				path: { "${params.output}/CDS_variants/mpileup" },
				mode: 'copy',
				pattern: "*.mpileup",
				enabled: params.save_mpileup
			]
		]
    }
}