/*
 * Additional Parameters for REVICA-STRM Processes
 */
params {

    // reference selection
	ref_min_depth = 3
    ref_min_cov   = 30

	// consensus assembly
	cons_init_min_depth = 5
	cons_init_min_cov = 60

	ivar_init_t = 0.6
	ivar_init_q = 20
	ivar_init_m = 1

	ivar_fin_t = 0.4
	ivar_fin_q = 20
	ivar_fin_m = 3
}

/*
 * Process Directives for REVICA-STRM Subworkflows
 */
process {

	// Reference Prep
	withName: 'REFERENCE_PREP:BWA_MEM_ALIGN_DB' {
        ext.args = 'local=true maxindel=80 ambiguous=all'
        publishDir = [
            path: { "${params.output}/reference_prep/align_to_db/pass" }, 
            mode: 'copy',
            pattern: "*covstats.tsv",
        ]
	}
	withName: 'REFERENCE_PREP:SELECT_REFERENCE' {
		ext.args = { "-m ${params.ref_min_depth} -p ${params.ref_min_cov}" }
		publishDir = [
			path: { "${params.output}/reference_prep/align_to_db/fail" },
			mode: 'copy',
			pattern: "*_failed_assembly.tsv"
		]
	}
	withName: 'REFERENCE_PREP:MAKE_REFERENCE_FASTA' {
		ext.prefix = { "${meta.id}_${ref_info.acc}" }
		publishDir = [
			path: { "${params.output}/reference_prep/make_reference_fasta" },
			mode: 'copy',
		    pattern: "*.fa"
        ]
	}

	// Consensus Assembly
	withName: 'CONSENSUS_ASSEMBLY:BWA_MEM_ALIGN_QUERY' {
		ext.args = 'local=true ambiguous=random'	
		ext.min_coverage = {"${params.ref_min_cov}"}
		ext.min_depth = {"${params.ref_min_depth}"}
		ext.iter = "ref"
		ext.prefix = { "${meta.id}_${ref_info.acc}_${ref_info.tag}_ref" }
		publishDir = [
			[
				path: { "${params.output}/consensus_assembly/align_to_selected_ref" },
				mode: 'copy',
				pattern: "*.{bam,bai}"
			],
			[
				path: { "${params.output}/consensus_assembly/fail/align_to_reference" },
				mode: 'copy',
				pattern: "*_failed_assembly.tsv"
			]
		]
	}
	withName: '.*:IVAR_CONSENSUS_BWA_MEM_ALIGN_INITIAL_ASSEMBLY:IVAR_CONSENSUS' {
		ext.args = { "-t ${params.ivar_init_t} -q ${params.ivar_init_q} -m ${params.ivar_init_m} -n N" }
		ext.args2 = '--count-orphans --no-BAQ --max-depth 0 --min-BQ 0 -aa'
		ext.prefix = { "${meta.id}_${ref_info.acc}_${ref_info.tag}_consensus1" }
		publishDir = [ 
			path: { "${params.output}/consensus_assembly/align_to_consensus" },
			mode: 'copy',
			pattern: "*.fa"
		]
	}
	withName: '.*:IVAR_CONSENSUS_BWA_MEM_ALIGN_INITIAL_ASSEMBLY:BWA_MEM_ALIGN' {
		ext.args = 'local=true ambiguous=random'
		ext.prefix = { "${meta.id}_${ref_info.acc}_${ref_info.tag}_consensus1" }
		ext.iter = "con1"
		ext.min_coverage = {"${params.cons_init_min_cov}"}
		ext.min_depth = {"${params.cons_init_min_depth}"}
		publishDir = [
			[
				path: { "${params.output}/consensus_assembly/align_to_consensus" },
				mode: 'copy',
				pattern: "*.{bam,bai}",
			],
			[
				path: { "${params.output}/consensus_assembly/fail/align_to_consensus" },
				mode: 'copy',
				pattern: "*_failed_assembly.tsv"
			]
		]
	}
	withName: 'CONSENSUS_ASSEMBLY:BUILD_FINAL_CONSENSUS' {
		ext.args = { "-t ${params.ivar_fin_t} -q ${params.ivar_fin_q} -m ${params.ivar_fin_m} -n N" }
		ext.args2 = '--count-orphans --no-BAQ --max-depth 0 --min-BQ 0 -aa'
		ext.prefix = { "${meta.id}_${ref_info.acc}_${ref_info.tag}_consensus_final" }
		publishDir = [ 
			path: { "${params.output}/consensus_assembly/final_assemblies" },
			mode: 'copy',
			pattern: "*.fa"
		]
	}
}